machine:
  registries:
    mirrors:
      docker.io:
        endpoints:
          - https://harbor.lag0.com.br/dhub
          - https://harbor.sinprors.org.br/dhub
  features:
    hostDNS:
      forwardKubeDNSToHost: false
  time:
    servers:
      - ${network_gateway}
      - 0.pool.ntp.org
      - 1.pool.ntp.org
  install:
    disk: ${install_disk}
    image: ${install_image}
  kubelet:
    extraConfig:
  network:
    nameservers:
      - ${dns}
    interfaces:
      - deviceSelector:
          physical: true
        addresses:
          - ${ip_address}
        routes:
          - network: ${network}
            gateway: ${network_gateway}
        vip:
          ip: ${vip_shared_ip}
cluster:
  allowSchedulingOnControlPlanes: false
  network:
    cni:
      name: none
  proxy:
    disabled: true