machine:
  features:
    hostDNS:
      forwardKubeDNSToHost: false
  time:
    servers:
      - ${network_gateway}
      - 0.pool.ntp.org
      - 1.pool.ntp.org
  install:
    disk: ${install_disk}
    image: ${install_image}
  network:
    nameservers:
      - ${dns}
    interfaces:
      - deviceSelector:
          physical: true
        addresses:
          - ${ip_address}
        routes:
          - network: ${network}
            gateway: ${network_gateway}